<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Nairobi, Kenya</span></li>
	                <li><a href="#tm-section-4"><span class="icon icon-phone"></span><span class="text">+254701958738</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(/images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#tm-section-4">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#tm-section-4"><span class="icon-calendar"></span> June 27, 2019</a></div>
                    <div><a href="#tm-section-4"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#tm-section-4"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-5 d-flex">
                <a class="blog-img mr-4" style="background-image: url(/images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#tm-section-4">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#tm-section-4"><span class="icon-calendar"></span> June 27, 2019</a></div>
                    <div><a href="#tm-section-4"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#tm-section-4"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="/"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                <li><a href="/about"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                <li><a href="/courses"><span class="ion-ios-arrow-round-forward mr-2"></span>Courses</a></li>
                <li><a href="/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2">Subscribe Us!</h2>
              <div class="subscribe-form">
                <div class="form-group">
                  <input type="text" class="form-control mb-2 text-center" id="subscriber" name="subscriber" placeholder="Enter email address">
                  <input type="submit" id="btnsubcr" value="Subscribe" class="form-control submit px-3" onclick="sendEmailSub()">
                </div>
              </div>
            </div>
            <div class="ftco-footer-widget mb-5">
            	<h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
            	<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#tm-section-4"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#tm-section-4"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#tm-section-4"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
			  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="" target="_blank">_</a>
          </div>
        </div>
      </div>
    </footer>

    <div class="gototop js-top">
      {{!-- href="https://api.whatsapp.com/send?phone=254701958738" 
        rel="nofollow noopener noreferrer"  --}}
        {{!-- <div> --}}
            {{!-- <a href="https://api.whatsapp.com/send?phone=254701958738" rel="nofollow noopener noreferrer"  
              class="js-gotop title" style="background:#d2691e00; position:relative; color:#ffc107; font-weight:bold;">Contact Us</i></a> --}}
              {{!-- <div style="display:inline-block"> --}}
                <a href="https://t.me/+6Ga_HqJMzy04MTM8" style="border-radius:40px; margin-bottom:5px; color:#238dbd" rel="nofollow noopener noreferrer"  
                  class="js-gotop titletelegram"><i class="icon-telegram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=254701958738" rel="nofollow noopener noreferrer"  
                  class="js-gotop"><i class="icon-whatsapp"></i></a>
              {{!-- </div> --}}
         {{!-- </div> --}}
    </div>

	<script>
		function sendEmailSub() {

      var message=document.getElementById("subscriber").value;  

          if(message){            
            $('#btnsubcr').prop('disabled', true);           
            $.ajax({
              url: "/uploadsucriber",
              type: "POST",
              data:{subscriber:message},
              success: function(text) {				
                if(text){                      
                  alert("Pst has been updated successfully");
                  $('#exampleModal').modal('toggle');
                  document.getElementById("subscriber").value=""; 
                  $('#btnsubcr').prop('disabled', false);
                } else{
                  alert("An Error Occured try again later.");
                  $('#btnsubcr').prop('disabled', false);
                }
              }
            });    
          }else{
            alert("Kindly fill out all details on the form .");
            $('#btnsubcr').prop('disabled', false);
          }
		}
  </script>