 <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="/images/dsw.png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="/mentorship" style="background: rgb(16, 228, 41); color:black;">Mentorship</a></li>
                        <li><a href="/signals"  style="background: rgb(51, 89, 245); color:rgb(253, 252, 252);">Trade Signals</a></li>
                        <li><a href="/contact"  style="background: rgb(9, 9, 9);  color:rgb(252, 251, 251);">Callback Requests</a></li>
                        <li><a href="/resources"  style="background: rgb(242, 2, 2);  color:rgb(252, 251, 251);">Resources</a></li>
                        {{!-- {{#if cart.id}}
                            {{#if cart.subscription}}
                                <li class="nav-item bighide"><a href="\blog" class="nav-link">View Account {{cart.firstname}}</a></li>
                            {{else}}
                                <li class="nav-item bighide"><a href="\mempro" class="nav-link">Become A Member</a></li>
                            {{/if}}	
                        {{else}}
                                <li class="nav-item bighide"><a href="\mempro" class="nav-link">Become A Member</a></li>
                        {{/if}} --}}
                        
                        <li><a href="https://www.forextime.com/?form=Jmzo" class="broker">Our Broker</a></li>
                    </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
