{{#section 'header'}}
	{{> iter}}
{{/section}}

  {{!-- <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_8.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Pay For Course</h1>
             <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i> <span>Course Payment<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section> --}}
<!-- section -->

<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/bg_8.jpg);"   data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-center align-items-center" style="min-height: 550px;">
								<div class="col-md-6 col-lg-4 ftco-animate">									
									<a href="https://www.forextime.com/?form=Jmzo">
										<div class="blog-entry">
											<div class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center" style="
													line-height: 52px;
													padding: 0 45px;
													font-size: 16px;
													text-transform: uppercase;
													letter-spacing: 0.075em;
													font-weight: 700;">
												Create Forex Account
											</div>
										</div>
									</a>
								</div>
								<div class="col-md-6 col-lg-4 ftco-animate">
									<a href="https://www.forextime.com/?form=Jmzo">
										<div class="blog-entry">
											<div class="btn py-2 px-3 btn-primary d-flex align-items-center justify-content-center" style="
													line-height: 52px;
													padding: 0 45px;
													font-size: 16px;
													text-transform: uppercase;
													letter-spacing: 0.075em;
													font-weight: 700;">
												Create Crypto Account
											</div>
										</div>
									</a>
								</div>
					</div>
				</div>
</section>		

{{#section 'footer'}}
	{{> foot}}
{{/section}}
    
{{#section 'script'}}
	<script>
		function loginCheck() {

		var email=document.getElementById("email").value;  
		var password=document.getElementById("password").value;

			if(email && password){            
				$('#btnsub').prop('disabled', true);           
				$.ajax({
				url: "/loginconfirmcheck",
				type: "POST",
				data:{email:email,password:password},
				success: function(text) {	
					if(text.data.firstname){                      
						window.location.href = "/";
					} else{
						alert(`An Error Occured. Check login details and try again.`);
						$('#btnsub').prop('disabled', false);
					}
				}
				});    
			}else{
				alert("Kindly fill out all details on the form .");
				$('#btnsub').prop('disabled', false);
			}
			}
	</script>
{{/section}}