{{#section 'header'}}
		{{> iter}}
{{/section}}

    <section class="home-slider owl-carousel">
			<div class="slider-item" style="background-image:url(images/bg2.jpg);">
				<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
				<div class="col-md-6">
					<p>We offer training and mentorship on crypto and forex trading courses that earn you an extra income.</p>
					<h1 class="mb-4" style="color:#d11f41">Welcome to the StatesFx Academy</h1>
					<p><a href="/mentorship" class="btn btn-primary px-4 py-3 mt-3" style="border: 3px solid rgb(217, 74, 107);">Forex</a>
					<a href="/signals" class="btn btn-primary px-4 py-3 mt-3" style="border: 3px solid rgb(217, 74, 107);">Crypto TRading</a>
					<a href="/contact" class="btn btn-primary px-4 py-3 mt-3" style="border: 3px solid rgb(217, 74, 107);">Let's call you</a></p>
				</div>
				</div>
				</div>
			</div>
			
			<div class="slider-item" style="background-image:url(images/bg4.jpg);">
				<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
				<div class="col-md-6">
					<p>We offer training and mentorship on crypto and forex trading courses that earn you an extra income.</p>
					<h1 class="mb-4" style="color:#d11f41">Build your skills with us</h1>
					<p><a href="/mentorship" class="btn btn-primary px-4 py-3 mt-3" style="border: 3px solid rgb(217, 74, 107);">Forex</a>
					<a href="/signals" class="btn btn-primary px-4 py-3 mt-3" style="border: 3px solid rgb(217, 74, 107);">Crypto Trading</a>
					<a href="/contact" class="btn btn-primary px-4 py-3 mt-3" style="border: 3px solid rgb(217, 74, 107);">Let's call you</a></p>
				</div>
				</div>
				</div>
			</div>


			{{!-- <div class="slider-item" style="background-image:url(images/bg7.jpg);">
				<div class="overlay"></div> 
				<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
				<div class="col-md-6">
					<h1 class="mb-4" style="color:#d11f41">WELCOME TO THE StatesFx Academy</h1>
					<p>We offer training and mentorship on crypto and forex trading courses that earn you an extra income.</p>
					<p><a href="/createtradingaccount" class="btn btn-primary px-4 py-3 mt-3">Create Trading Account</a></p>
				</div>
				</div>
				</div>
			</div>

			<div class="slider-item" style="background-image:url(images/bg0.jpg);">
				<div class="overlay"></div>
				<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
				<div class="col-md-6">
					<h1 class="mb-4" style="color:#d11f41">WELCOME TO THE StatesFx Academy</h1>
					<p>We offer training and mentorship on crypto and forex trading courses that earn you an extra income.</p>
					<p><a href="/createtradingaccount" class="btn btn-primary px-4 py-3 mt-3">Create Trading Account</a></p>
				</div>
				</div>
				</div>
			</div> --}}
    </section>

    {{!-- <section class="ftco-services ftco-no-pb">
			<div class="container-wrap">
				<div class="row no-gutters">
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-reading"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">CERTIFIED FINANCIAL MARKETS INSTITUTION</h3>
                <p style="color: #ecfbfb;">We are a certified and trusted financial markets institution. We offer top-notch training & mentorship for individuals looking to excel in the field of trading crypto, forex & stock.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-teacher"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Trade popular cryptos</h3>
                <p>Having time bound research and analytic skills in cryptocurrency, we take pride in naturing true successful and consistent profitable traders equipped with several proven key skills required to master and constantly evolve their cryptocurrency trading skillset.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-darken">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-diploma"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Reliability and speed</h3>
                <p  style="color: #ecfbfb;">Always on the clock to ensure training and provision of trading signals to adequately equip you with best ideas, interpretation and guidance when the market opens.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex services align-self-stretch py-5 px-4 ftco-animate bg-primary">
            <div class="media block-6 d-block text-center">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-books"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">MARKET SIGNALS</h3>
                <p>Always working around the clock to provide accurate trading signals that help traders in making accurate and dependable predictions in the market to consistently maximize their profits.</p>
              </div>
            </div>      
          </div>
        </div>
			</div>
	</section> --}}
		
	<section class="ftco-section ftco-no-pt ftc-no-pb" style="margin-top: 20px;">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
					<div class="img" style="background-image: url(images/about.jpg); border"></div>
				</div>
				<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
					<h2 class="mb-4">What We Offer</h2>
					<p>With a vast experience and expertise in Cryptocurrency,forex and stock trading,we have a unique insight in training and imparting skills related to trading in the global currency markets.we guarantee full expertised training ranging from the basics to simplifying the complexities</p>
					<div class="row mt-5">
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
								<div class="text pl-3">
									<h3>Crypto Trading</h3>
									<p>Cryptocurrency trading involves speculating on price movements via a CFD trading account, or buying and selling the underlying coins via an exchange.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
								<div class="text pl-3">
									<h3>Forex Trading</h3>
									<p>Forex anticipate changes in currency, trading positions in currency pairs on the foreign exchange market to profit from a change in currency demand.</p>
								</div>
							</div>
						</div>
						{{!-- <div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
								<div class="text pl-3">
									<h3>Academic Writing</h3>
									<p>The four main types of academic writing are descriptive, analytical, persuasive and critical.</p>
								</div>
							</div>
						</div> --}}
						{{!-- <div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
								<div class="text pl-3">
									<h3>Drop Shipping</h3>
									<p>Drop-shipping is when a person, or company, sells goods on their website that they do not keep in stock. </p>
								</div>
							</div>
						</div> --}}
						{{!-- <div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
								<div class="text pl-3">
									<h3>Digital Marketing</h3>
									<p>Digital marketing, also called online marketing, refers to all marketing efforts that occur on the internet. </p>
								</div>
							</div>
						</div> --}}
						{{!-- <div class="col-lg-6">
							<div class="services-2 d-flex">
								<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
								<div class="text pl-3">
									<h3>Content Creation</h3>
									<p>Content creation is the process of generating topic ideas that appeal to your buyer persona, creating written...</p>
								</div>
							</div>
						</div> --}}
					</div>
				</div>
			</div>
		</div>
	</section>
		
	<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2 d-flex">
    			<div class="col-md-6 align-items-stretch d-flex">
    				<div class="img img-video d-flex align-items-center" >
    					<div id="home" class="video justify-content-center">
								{{!-- <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
									<span class="ion-ios-play"></span>
		  					</a> --}}
							</div>
    				</div>
    			</div>
          <div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5" style="height: 320px;">
            <h2 class="mb-4">StatesFx Academy</h2>
            <p>With years of experience in the world of Forex trading and writing broker reviews, we have unique insight into how to start trading, tips and tricks, and advanced trading strategies. </p>
            <p></p>
          </div>
        </div>	
    		<div class="row d-md-flex align-items-center justify-content-center">
    			<div class="col-lg-12">
    				<div class="row d-md-flex align-items-center">
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="18">0</strong>
		                <span>Certified Tutors</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="401">0</strong>
		                <span>Students</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		                <span>Courses</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		            	<div class="icon"><span class="flaticon-doctor"></span></div>
		              <div class="text">
		                <strong class="number" data-number="50">0</strong>
		                <span>Awards Won</span>
		              </div>
		            </div>
		          </div>
	          </div>
          </div>
        </div>
    	</div>
    </section>

	{{!-- <section class="ftco-section">
		<div class="container-fluid px-4">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>Our</span> Projects</h2>
				<p></p>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-3 course ftco-animate">
					<div class="img" style="background-image: url(images/course-1.jpg);"></div>
					<div class="text pt-4">
						<p class="meta d-flex">
							<span><i class="icon-user mr-2"></i>Mr. Khan</span>
							<span><i class="icon-table mr-2"></i>10 </span>
							<span><i class="icon-calendar mr-2"></i>4 Years</span>
						</p>
						<h3><a href="#tm-section-4">MARKET EXPANSION</a></h3>
						<p>Market expansion is a growth strategy which involves offering your existing product/service to a new market. Increase your customer base by leveraging on the varies internet platforms</p>
						<p><a href="#tm-section-4" class="btn btn-primary">Apply now</a></p>
					</div>
				</div>
				<div class="col-md-3 course ftco-animate">
					<div class="img" style="background-image: url(images/course-2.jpg);"></div>
					<div class="text pt-4">
						<p class="meta d-flex">
							<span><i class="icon-user mr-2"></i>Mr. Khan</span>
							<span><i class="icon-table mr-2"></i>10 </span>
							<span><i class="icon-calendar mr-2"></i>4 Years</span>
						</p>
						<h3><a href="#tm-section-4">BUSINESS GROWTH</a></h3>
						<p>Business growth is a point a business reaches where it expands and requires more avenues to generate a profit. Get to identify ways by which you can expand your business and scale</p>
						<p><a href="#tm-section-4" class="btn btn-primary">Apply now</a></p>
					</div>
				</div>
				<div class="col-md-3 course ftco-animate">
					<div class="img" style="background-image: url(images/course-3.jpg);"></div>
					<div class="text pt-4">
						<p class="meta d-flex">
							<span><i class="icon-user mr-2"></i>Mr. Khan</span>
							<span><i class="icon-table mr-2"></i>10</span>
							<span><i class="icon-calendar mr-2"></i>4 Years</span>
						</p>
						<h3><a href="#tm-section-4">TAX MANAGEMENT</a></h3>
						<p>Tax management refers to the management of finances, for the purpose of paying taxes.Learn more about how to manage your taxes to fully comply with government regulations for yout business</p>
						<p><a href="#tm-section-4" class="btn btn-primary">Apply now</a></p>
					</div>
				</div>
				<div class="col-md-3 course ftco-animate">
					<div class="img" style="background-image: url(images/course-4.jpg);"></div>
					<div class="text pt-4">
						<p class="meta d-flex">
							<span><i class="icon-user mr-2"></i>Mr. Khan</span>
							<span><i class="icon-table mr-2"></i>10</span>
							<span><i class="icon-calendar mr-2"></i>4 Years</span>
						</p>
						<h3><a href="#tm-section-4">INVESTMENT POLICY</a></h3>
						<p>An investment policy describes the parameters for investing government funds and identifies the investment objectives, preferences or tolerance...</p>
						<p><a href="#tm-section-4" class="btn btn-primary">Apply now</a></p>
					</div>
				</div>
			</div>
		</div>
	</section> --}}


	<section class="ftco-section bg-dark ftco-home img" style="background-image: url(images/mentorship-home.png);">
		<div class="container">
		<div class="row" id="ads">
		<div class="col-lg-7 col-md-7">
		<img src="/images/bk_box.png" style="font-family:&#39;ubuntu&#39;; color:#ffffff; height:1em; line-height: 0.25" class="img-fluid" alt="">
		<a href="https://www.habbyforex.com/en-us/#mentorship"><p class="lead b" style="font-family:&#39;ubuntu&#39;; color: #f0f0f0; font-size: 2em; line-height: 1.25">Mentorship</p></a>
		<p style=" line-height: 1.25">Join our unique Lifetime Mentorship Program</p>
		<span><a href="https://www.habbyforex.com/en-us/mentorship" class="btn btn-primary">More Information →</a>
		</span>
		<br>
		</div>
		</div>
		<div class="row" id="ads">
		<div class="col-lg-4 col-md-4">
		<div class="card rounded">
		<div class="card-image">
		<a href="https://www.habbyforex.com/en-us/mentorship"><span class="card-notify-badge">General Mentorship</span></a>
		<img class="img-fluid" src="/images/course-6.jpg" alt="Mentorship Base">
		</div>
		<div class="card-image-overlay m-auto">
		<span class="card-detail-badge">$200.00</span>
		</div>
		<div class="card-body">
		<span><b>Includes</b><br>
		Lifetime Mentorship<br>
		<b>Physical or Online</b> Mentorship<br>
		One-time Fee<br></span>
		</div>
		</div>
		</div>
		<div class="col-lg-4 col-md-4">
		<div class="card rounded">
		<div class="card-image">
		<a href="https://www.habbyforex.com/en-us/mentorship"><span class="card-notify-badge">Private Mentorship</span></a>
		<img class="img-fluid" src="/images/course-5.jpg" alt="Mentorship Base">
		</div>
		<div class="card-image-overlay m-auto">
		<span class="card-detail-badge">$350.00</span>
		</div>
		<div class="card-body">
		<span><b>Includes</b><br>
		Mentorship with a Private Tutor<br>
		<b>Physical Private</b> Mentorship<br>
		One-time Fee<br></span>
		</div>
		</div>
		</div>
		<div class="col-lg-4 col-md-4">
		<div class="card rounded">
		<div class="card-image">
		<a href="https://www.habbyforex.com/en-us/mentorship"><span class="card-notify-badge">Exclusive Mentorship</span></a>
		<img class="img-fluid" src="/images/mentorship_exclusive.png" alt="Mentorship Plus">
		</div>
		<div class="card-image-overlay m-auto">
		<span class="card-detail-badge">$700.00</span>
		</div>
		<div class="card-body">
		<span><b>Includes</b><br>
		Exclusive 5 weeks with StatesFx<br>
		Live Trading &amp; Analysis<br>
		Access VIP Group &amp; Benefits<br></span>
		</div>
		</div>
		</div>
		</div>
		</div>
	</section>

	{{!-- <section class="ftco-section bg-light">
		<div class="container-fluid px-4">
			<div class="row justify-content-center mb-5 pb-2">
		<div class="col-md-8 text-center heading-section ftco-animate">
		<h2 class="mb-4">Certified Tutors</h2>
		<p></p>
		</div>
	</div>	
			<div class="row justify-content-center"> --}}
				{{!-- <div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(images/teacher-1.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Bianca Wilson</h3>
							<span class="position mb-2">Tutors</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-twitter"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-facebook"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-google-plus"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
						</div>
					</div>
				</div> --}}
				{{!-- <div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(images/teacher-2.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Frank States</h3>
							<span class="position mb-2">Tutor</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-twitter"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-facebook"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-google-plus"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
						</div>
					</div>
				</div> --}}
				
				{{!-- <div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(images/teacher-3.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Stella Smith</h3>
							<span class="position mb-2">Tutor</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-twitter"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-facebook"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-google-plus"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(images/teacher-4.jpg);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>Monshe Henderson</h3>
							<span class="position mb-2">Tutor</span>
							<div class="faded">
								<p>I am an ambitious workaholic, but apart from that, pretty simple person.</p>
								<ul class="ftco-social text-center">
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-twitter"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-facebook"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-google-plus"></span></a></li>
					<li class="ftco-animate"><a href="#tm-section-4"><span class="icon-instagram"></span></a></li>
					</ul>
				</div>
						</div>
					</div>
				</div> --}}
			{{!-- </div>
		</div>
	</section> --}}


	<section class="ftco-section ftco-no-pt ftc-no-pb" style="margin-top: 20px;">
		<div class="container">
			<div class="row d-flex">				
				<div class="col-md-5 wrap-about d-flex align-items-stretch">
					<div class="img" style="background-image: url(images/teacher-2.jpg); border"></div>
				</div>
				<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
					<h2 class="mb-4">Frank States</h2>
					<p>I am creative and passionate about my work. 
						I am always looking for new ways to express myself and I strive to create the best work possible. 
						I am driven by my desire to design something beautiful and unique using my investing skills. 
						I believe that investing should be accessible to everyone, and I strive to make my work available to as many people as possible.
						I share my work in open-source online communities, as well as through print and digital media. 
						I am always learning and growing as an individual, and I hope to continue to develop my skills for years to come.
						I am an organized and detail-oriented person, which has helped me excel in my career as an educator. 
						No matter how big or small the win is, I am always able to keep track of all the details and make sure everything runs smoothly.
						My clients have always been impressed with my organizational skills, and I have even received several appreciations for my work. 
						Thanks to my attention to detail, I have been able to successfully plan and execute a wide variety of events.</p>
					<div class="row mt-5">
						<div class="col-lg-4">
							<div class="services-2 d-flex">
								<a href="https://www.instagram.com/states.ke/">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></div>
									<div class="d-flex justify-content-center align-items-center">
										<h5>Instagram</h5>
										<p></p>
									</div>
								</a>
							</div>
						</div>
						
						<div class="col-lg-4">
							<div class="services-2 d-flex">
								<a href="https://t.me/+6Ga_HqJMzy04MTM8">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="icon-telegram"></span></div>
									<div class=" d-flex justify-content-center align-items-center">
										<h5>Telegram</h5>
										<p></p>
									</div>
								</a>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="services-2 d-flex">
								<a href="https://www.youtube.com/@StatesEntertainment/videos">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="icon-youtube"></span></div>
									<div class="d-flex justify-content-center align-items-center">
										<h5>Youtube</h5>
									</div>
								</a>
							</div>
						</div>

					</div>
				</div>
				
			</div>
		</div>
	</section>

    <section id="tm-section-4" class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/bg_5.jpg);" data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row justify-content-end">
    			<div class="col-md-6 py-5 px-md-5">
    				<div class="py-md-5">
		          <div class="heading-section heading-section-white ftco-animate mb-5">
		            <h2 class="mb-4">Register A Course</h2>
		            <p></p>
		          </div>
		          <div class="appointment-form ftco-animate">
		    				<div class="d-md-flex">
			    				<div class="form-group">
			    					<input id="fname" type="text" class="form-control" placeholder="First Name">
			    				</div>
			    				<div class="form-group ml-md-4">
			    					<input id="lname" type="text" class="form-control" placeholder="Last Name">
			    				</div>
		    				</div>
							<div class="form-group">							
								<input class="form-control"  type="text" id="email" name="email" placeholder="Enter Email">
							</div>
		    				<div class="d-md-flex">
		    					<div class="form-group">
			    					<div class="form-field">
										<div class="select-wrap">
											<div class="icon"><span class="ion-ios-arrow-down"></span></div>
											<select name="" id="selCourse" class="form-control">
												<option value="">Select Your Course</option>
												<option value="">Crypto Trading</option>
												<option value="">Forex trading</option>
												<option value="">Drop Shipping</option>
												{{!-- <option value="">Academic Writing</option> --}}
												{{!-- <option value="">Digital Marketing</option> --}}
												{{!-- <option value="">Content Creation</option> --}}
											</select>
										</div>
									</div>
			    				</div>
		    					{{!-- <div class="form-group ml-md-4">
			    					<input id="phon" type="text" class="form-control" placeholder="Phone">
			    				</div> --}}
		    				</div>
							<div class="form-group">							
								<input class="form-control"   type="tel" id="lipapendingphone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{3}[0-9]{3}" placeholder="254700000000">
							</div>
							<div class="form-group">							
								<input class="form-control"   type="password" id="password" name="password" placeholder="******">
							</div>
		    				<div class="d-md-flex">
		    					<div class="form-group">
									<textarea name="message" id="mess" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
								</div>									
		    				</div>
							<div class="d-md-flex">
								<div class="form-group">
										<input type="submit" value="Make Request" class="btn btn-primary py-3 px-4"  onclick="doNumberCheck()">
								</div>
							</div>
				  </div>
		    		</div>
    			</div>
        </div>
    	</div>
    </section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
				<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>Recent</span> Blog</h2>
				<p></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4 ftco-animate">
				<div class="blog-entry">
					<a href="/blog" class="block-20 d-flex align-items-end" style="background-image: url('images/image_1.jpg');">
									<div class="meta-date text-center p-2">
						<span class="day">26</span>
						<span class="mos">June</span>
						<span class="yr"></span>
					</div>
					</a>
					<div class="text bg-white p-4">
					<h3 class="heading"><a href="#tm-section-4">How To Read Trading Charts</a></h3>
					<p>Traders use stock charts and price patterns to get in and out of trading positions. Learn how to recognize some of the key price patterns.</p>
					<div class="d-flex align-items-center mt-4">
						<p class="mb-0"><a href="#tm-section-4" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
						<p class="ml-auto mb-0">
							<a href="#tm-section-4" class="mr-2">Admin</a>
							<a href="#tm-section-4" class="meta-chat"><span class="icon-chat"></span> 3</a>
						</p>
					</div>
					</div>
				</div>
				</div>
				<div class="col-md-6 col-lg-4 ftco-animate">
				<div class="blog-entry">
					<a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('images/image_2.jpg');">
									<div class="meta-date text-center p-2">
						<span class="day">26</span>
						<span class="mos">June</span>
						<span class="yr"></span>
					</div>
					</a>
					<div class="text bg-white p-4">
					<h3 class="heading"><a href="#tm-section-4">When Is The Best Time To Trade</a></h3>
					<p>The opening 9:30 a.m. to 10:30 a.m. Eastern time (ET) period is often one of the best hours of the day..                                    .</p>
					<div class="d-flex align-items-center mt-4">
						<p class="mb-0"><a href="#tm-section-4" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
						<p class="ml-auto mb-0">
							<a href="#tm-section-4" class="mr-2">Admin</a>
							<a href="#tm-section-4" class="meta-chat"><span class="icon-chat"></span> 3</a>
						</p>
					</div>
					</div>
				</div>
				</div>
				<div class="col-md-6 col-lg-4 ftco-animate">
					<div class="blog-entry">
						<a href="blog-single.html" class="block-20 d-flex align-items-end" style="background-image: url('images/image_3.jpg');">
							<div class="meta-date text-center p-2">
								<span class="day">26</span>
								<span class="mos">June</span>
								<span class="yr"></span>
							</div>
						</a>
						<div class="text bg-white p-4">
						<h3 class="heading"><a href="#tm-section-4">Engage Faster To Trade Better</a></h3>
						<p>Trade facilitation allows better access for businesses to production inputs from abroad and supports participation in global value chains.</p>
						<div class="d-flex align-items-center mt-4">
							<p class="mb-0"><a href="#tm-section-4" class="btn btn-primary">Read More <span class="ion-ios-arrow-round-forward"></span></a></p>
							<p class="ml-auto mb-0">
								<a href="#tm-section-4" class="mr-2">Admin</a>
								<a href="#tm-section-4" class="meta-chat"><span class="icon-chat"></span> 3</a>
							</p>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">CLIENT TESTIMONIALS</h2>
            <p></p>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
				{{#if psts}}
                          {{#each psts}}
									<div class="item">
										<div class="testimony-wrap d-flex">
										<div class="user-img mr-4" style="background-image: url(images/teacher-1.jpg)">
										</div>
										<div class="text ml-2">
											<span class="quote d-flex align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
											</span>
											<p>"{{this.testimony}}"</p>
											<p class="name">{{this.username}}</p>
											<span class="position"></span>
										</div>
										</div>
									</div>
							{{/each}}
                {{else}}                            
                {{/if}} 

            </div>
          </div>
        </div>
      </div>
    </section>

	<section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="images/image_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/course-1.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/image_2.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/image_3.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(images/image_4.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-instagram"></span>
    					</div>
						</a>
					</div>
        </div>
    	</div>
    </section>
		
{{#section 'footer'}}
	{{> foot}}
{{/section}}
    

{{#section 'script'}}
	<script>
		function updateVeh() {

		var name=document.getElementById("nme").value; 
		var email=document.getElementById("emal").value;
		var subject=document.getElementById("subject").value; 
		var message=document.getElementById("message").value; 

				if(name && email && subject && message){            
				$('#btnsub').prop('disabled', true); 
				
				$.ajax({
					url: "/sendinq",
					type: "POST",
					data:{name:name,email:email,subject:subject,message:message},
					success: function(text) {				
						if(text){                      
						alert("Inquiry has been sent");
						$('#exampleModal').modal('toggle');
						document.getElementById("nme").value=""; 
						document.getElementById("email").value="";
						document.getElementById("subject").value=""; 
						document.getElementById("message").value="";
						$('#btnsub').prop('disabled', false);
						} else{
						alert("An Error Occured try again later.");
						$('#btnsub').prop('disabled', false);
						}
					}
					});  
				}else{
					alert("Kindly fill out all details on the form .");
					$('#btnsub').prop('disabled', false);
				}
		}

	
	function sendSub() {

		var email=document.getElementById("subemail").value; 

				if(email ){            
				$('#sbbtn').prop('disabled', true); 
				$.ajax({
					url: "/sendsub",
					type: "POST",
					data:{email:email},
					success: function(text) {				
						if(text){                      
						alert("Subscription has been sent");
						document.getElementById("subemail").value=""; 
						$('#sbbtn').prop('disabled', false);
						} else{
						alert("An Error Occured try again later.");
						$('#sbbtn').prop('disabled', false);
						}
					}
					});  
				}else{
					alert("Kindly fill out all details on the form");
					$('#btnsub').prop('disabled', false);
				}
		}

	
	function sendAppointment() {

		var status=$('input[name="group1"]:checked').val();; //$('#name').val();
		var firstname=document.getElementById("firstname").value;//$('#email').val();
		var lastname=document.getElementById("lastname").value; //$('#subject').val();
		var email=document.getElementById("email").value; 
		var phone=document.getElementById("phone").value; //$('#name').val();
		var dob=document.getElementById("dob").value;//$('#email').val();
		var gender=$('input[name="group2"]:checked').val(); //$('#subject').val();
		var rmessage=document.getElementById("rmessage").value; 

				if(firstname && lastname && email && phone && dob && subject && rmessage){            
				$('#btnsub').prop('disabled', true); 
				
				$.ajax({
					url: "/sendappt",
					type: "POST",
					data:{status:status,firstname:firstname,lastname:lastname,email:email,phone:phone,dob:dob,gender:gender,message:rmessage},
					success: function(text) {				
						if(text){                      
						alert("Appointment Request has been sent");
						$('#exampleModal').modal('toggle');
						document.getElementById("firstname").value="";//$('#email').val();
						document.getElementById("lastname").value=""; //$('#subject').val();
						document.getElementById("email").value=""; 
						document.getElementById("phone").value=""; //$('#name').val();
						document.getElementById("dob").value="";//$('#email').val();
						document.getElementById("rmessage").value=""; 
						$('#btnsub').prop('disabled', false);
						} else{
						alert("An Error Occured try again later.");
						$('#btnsub').prop('disabled', false);
						}
					}
					});  
				}else{
					alert("Kindly fill out all details on the form");
					$('#btnsub').prop('disabled', false);
				}
		}
	
	</script>
{{/section}}