{{#section 'header'}}
	{{> iter}}
{{/section}}

<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(images/bg_8.jpg);"   data-stellar-background-ratio="0.5">
	
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-md-6 py-5 px-md-5">
					<div class="py-md-5">
						<div class="heading-section heading-section-white ftco-animate mb-5">
							<h2 class="mb-4"></h2>
							<p></p>
						</div>

							<div class="d-md-flex">
			    				<div class="form-group">
			    					<input id="fname" type="text" class="form-control" placeholder="First Name">
			    				</div>
			    				<div class="form-group ml-md-4">
			    					<input id="lname" type="text" class="form-control" placeholder="Last Name">
			    				</div>
		    				</div>
							<div class="form-group">							
								<input class="form-control"   type="text" id="email" name="email" placeholder="Enter Email">
							</div>
		    				<div class="d-md-flex">
		    					<div class="form-group">
			    					<div class="form-field">
										<div class="select-wrap">
											{{!-- <div class="icon"><span class="ion-ios-arrow-down"></span></div> --}}
											<select name="" id="selCourse" class="form-control">
												<option value="">Select Your Course</option>
												<option value="">Crypto Trading</option>
												<option value="">Forex trading</option>
												{{!-- <option value="">Academic Writing</option> --}}
												<option value="">Drop Shipping</option>
												{{!-- <option value="">Digital Marketing</option> --}}
												{{!-- <option value="">Content Creation</option> --}}
											</select>
										</div>
									</div>
			    				</div>
		    					{{!-- <div class="form-group ml-md-4">
			    					<input id="phon" type="text" class="form-control" placeholder="Phone">
			    				</div> --}}
		    				</div>
							<div class="form-group">							
								<input class="form-control"   type="tel" id="lipapendingphone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{3}[0-9]{3}" placeholder="254700000000">
							</div>
							<div class="form-group">							
								<input class="form-control"   type="password" id="password" name="password" placeholder="******">
							</div>
		    				<div class="d-md-flex">
		    					<div class="form-group">
									<textarea name="message" id="mess" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
								</div>									
		    				</div>
							<div class="d-md-flex">
								<div class="form-group">
										<input type="submit" value="Make Request" class="btn btn-primary py-3 px-4"  onclick="doNumberCheck()">
								</div>
							</div>
					</div>
				</div>
		</div>
	</div>
</section>		

{{#section 'footer'}}
	{{> foot}}
{{/section}}
    
