<section class="hero-wrap hero-wrap-2 mempro" style="background-image: url('images/bg0.jpg');height:150px;">
  {{!-- <div class="overlay"></div> --}}
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center"  style="height:150px;">
      <div class="col-md-9 ftco-animate text-center">
        <a href="/"><h1 class="mb-2 bread"><img src="/images/twhite.png" alt="digitalspace" style="height: 150px; width:200px">
        </h1></a>
      </div>
    </div>
  </div>
</section>

    <section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-6 py-5 px-md-5">
            <h2 class="mb-3">Premium Pro - (Platinum)</h2>
            <h5>This is what You Get TODAY!</h5>
            <h4 class="mb-3">Features</h4>

            <p>Access to advanced Premium content (Updated version)</p>
            <p>Access to Exclusive Community</p>
            <p>Unlimited live sessions/webinar</p>
            <p>Unlimited Signals Access</p>

            <h4 class="mb-3">Bonuses:</h4>

            <p>Ultimate Transformation Course</p>
            <p>Risk Management Strategy</p>
            <p>Beginners Course (Updated Version)</p>
            <p>Private Signals Group</p>
            <p>Trading Plan and Journal</p>
            <p>0-6 Figures (BLUEPRINT)</p>
            <p class="font-weight-bold">Today Price ONLY: Ksh 15,000</p>
            <p class="font-weight-bold">Live Trading Sessions & Signals</p>
            <p class="font-weight-bold">Total Value Worth: Ksh 150,000</p>
       
          </div>
        <div class="col-md-6 py-5 px-md-5">
          <div id="pricing" class="pricing-tables">
            <div class="item first-item">
                  <div class="py-md-5">
                      <div class="heading-section heading-section-white ftco-animate mb-5">
                        <h2 class="mb-4"></h2>
                        <p></p>
                      </div>                  
                    </div>

                      <div class="d-md-flex">
                          <div class="form-group">
                            <input id="fname" type="text" class="form-control" placeholder="First Name">
                          </div>
                          <div class="form-group ml-md-4">
                            <input id="lname" type="text" class="form-control" placeholder="Last Name">
                          </div>
                        </div>                        
                      <div class="form-group">              
                        <input class="form-control"   type="email" id="email" name="phone" placeholder="email">
                      </div>
                        <div class="d-md-flex">
                          <div class="form-group">
                            <div class="form-field">
                              <div class="select-wrap">
                                  <select name="" id="selCourse" class="form-control">
                                    <option value="">Select Your Course</option>
                                    <option value="">Crypto Trading</option>
                                    <option value="">Forex trading</option>
                                    <option value="">Drop Shipping</option>
                                  </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                      <div class="d-md-flex">
                          <div class="form-group">
                            <div class="form-field">
                              <div class="select-wrap">
                                  <select name="" id="selSubscription" class="form-control">
                                    <option value="">Pick Your Preffered Subscription</option>
                                    <option value="">Monthly Ksh 5000</option>
                                    <option value="">Annually Ksh 10000</option>
                                    <option value="">Lifetime ksh 20000</option>
                                  </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      <div class="form-group">              
                        <input class="form-control"   type="tel" id="lipapendingphone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{3}[0-9]{3}" placeholder="254700000000">
                      </div>
                    <div class="form-group">							
                      <input class="form-control"   type="password" id="password" name="password" placeholder="******">
                    </div>
                        <div class="d-md-flex">
                          <div class="form-group">
                          <textarea name="message" id="mess" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
                        </div>                  
                        </div>
                      <div class="d-md-flex">
                        <div class="form-group">
                            <input type="submit" value="Make Request" class="btn btn-primary py-3 px-4"  onclick="doNumberCheck()">
                        </div>
                      </div>
                      <div class="heading-section heading-section-white text pl-3 d-flex justify-content-center align-items-center">
                        <h6><a href="/login">Already have an account click here to login</a></h6>
                        <p></p>
                      </div>  
                  </div>
                  <div class="checkout-order-bump" bind-show="showOrderBump" kjb-settings-id="order-bump-offer-id-section">
                    <p>Thank you for choosing Trade Cafe Platinum Package. As a <strong>special offer</strong>, we'd like to offer you our <em><strong>'Trade Cafe Course'&nbsp;</strong></em> as an order bump for just <strong>Ksh 15,000</strong>. This guide includes insider tips and techniques from our team of experienced traders to help take your trading to the next level. You won't find this information anywhere else.</p>
                    <p>Simply check the box below to add the <em><strong>'Trade Cafe'</strong></em>&nbsp;course to your order and take advantage of this exclusive offer."</p>
                    <p>Thank you for considering this exclusive offer!</p>

                    <div class="checkout-order-bump-label">
                      <div class="form-group boolean optional checkout_offer_include_order_bump"><div class="checkbox"><input value="0" type="hidden" name="checkout_offer[include_order_bump]"><label class="boolean optional" for="checkout_offer_include_order_bump"><input eval="new App.CheckoutOrderBumpToggle(this)" class="boolean optional" type="checkbox" value="1" name="checkout_offer[include_order_bump]" id="checkout_offer_include_order_bump" data-parsley-multiple="checkout_offerinclude_order_bump" data-parsley-id="3187">Yes! Add Trade Cafe </label><ul class="parsley-errors-list" id="parsley-id-multiple-checkout_offerinclude_order_bump"></ul></div></div>
                    </div>
                  </div>
              </div>
          </div>          
        </div>
        </div>
      </div>
    </section>  
		
    
   

{{#section 'footer'}}
	{{> foot}}
{{/section}}