{{#section 'header'}}
	{{> iter}}
{{/section}}

  {{!-- <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_8.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Pay For Course</h1>
             <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i> <span>Course Payment<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section> --}}
<!-- section -->

<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-color: #000;"   data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-center align-items-center" style="min-height: 550px;">
								
					</div>
				</div>
</section>		


<section class="ftco-section bg-black ftco-home" style="background: black;">
<div class="container">
<div class="heading-section mb-5 mt-5 mt-lg-0">
<br>
<div class="container">
<div class="row">
<div class="col-md-8">
<h4 class="mb-3 center" style="margin-left: 0em; font-size: 2.5em; line-height: 1; color: #d8d8d8; font-weight: 700; letter-spacing: -1px;"><br>A Complete Beginner to Advanced Trading Mentorship Program</h4>
<h4 class="mb-3 center" style="margin-left: 0em; font-size: 2em; line-height: 1; color: #d8d8d8; font-weight: 700; letter-spacing: -1px;"><br>Choose between:</h4>
</div>
<div class="col-md-4">
<div class="alert alert-success" style="background-color: rgba(7, 5, 28, 0.79);">
<button type="button" style="color: #fff;" class="close" data-dismiss="alert" aria-hidden="true">
×</button>
<span class="glyphicon glyphicon-ok"></span>
<h5><b style="line-height: -1; color: #0faf0c; font-weight: 700; letter-spacing: -1px;">Attention!</b></h5>
<span style="line-height: 0.75; color: #d8d8d8; letter-spacing: -1px;">Physical Classes and Registration is on-going.</span>
</div>
</div>
</div>
</div>
<h5 class="mb-3 center" style="margin-left: 1em; font-size: 1em; color: #f0f0f0; font-weight: 500; margin-bottom: -35px!important; letter-spacing: -1px;">General In-class Mentorship (at any location), General Mentorship Online,
<br>Private Mentorship with our team or <b>an Exclusive Mentorship with Habby</b><br><br><br></h5>
</div>
<div class="row">
<div class="col-lg">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="price-box" style="border: 2px solid #323234!important;">
<div class="">
<div class="price-label value">Physical - Class Mentorship</div>
<div class="price">$400.00</div>
<div class="price-info">General In-Class Mentorship<br>One-Time Payment<br><b style="color: #a9e90f;">Physical Training - Abuja, Ikeja or Lekki</b></div>
</div>
<div class="info">
<ul>
<h4 class="mb-3 center" style="font-size: 1.5em; font-weight: 700; color: #cddc39; letter-spacing: -1px;">Features</h4>
<li><i class="fas fa-check" aria-hidden="true"></i>Beginner To Advanced Course</li>
<li><i class="fas fa-check" aria-hidden="true"></i>Intensive One Month Training</li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Live Trading Experience</b></li>
<li><i class="fas fa-wifi" aria-hidden="true"></i><b>Free Wi-fi</b></li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Access To Habbyfx Full Video Course</b></li>
<li style="line-height: 1.35"><i class="fas fa-check" aria-hidden="true"></i>Access Students Group</li>
<li style="line-height: 1.35"><i class="fas fa-check" aria-hidden="true"></i>Prop Firm Challenge Training.</li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Earn Masterclass Certificate</b></li>
</ul>
</div><span class="price-label basic"><a aria-disabled="true" style="color: #fff">Choose a Trading Floor</a></span><hr>
</div>
</div>
<div class="col-lg-6">
<div class="price-box" style="border: 2px solid #323234!important;">
<div class="">
<div class="price-label basic">Online Class - Mentorship</div>
<div class="price">$400.00</div>
<div class="price-info">General Online Class Mentorship<br>One-Time Payment<br><b style="color: #a9e90f;">Fully Online Video Course</b></div>
</div>
<div class="info">
<ul>
<h4 class="mb-3 center" style="font-size: 1.5em; font-weight: 700; color: #cddc39; letter-spacing: -1px;">Features</h4>
<li><i class="fas fa-check" aria-hidden="true"></i>Beginner To Masterclass Course</li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Online Live Trading Session</b></li>
<li><i class="fas fa-check" aria-hidden="true"></i>Access Students Group</li>
<li><i class="fas fa-check" aria-hidden="true"></i>Team Work Schedule</li>
<li style="line-height: 1.35"><i class="fas fa-check" aria-hidden="true"></i>Access To Previous Recorded Sessions</li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Access to HabbyFX Video Course</b></li>
<li style="line-height: 1.35"><i class="fas fa-check" aria-hidden="true"></i>Prop Firm Challenge Training</li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Earn a Masterclass Certificate</b></li>
</ul>
</div><span class="price-label basic"><a href="https://www.habbyforex.com/en-us/mentorship/Online.USDt" data-target="./Online.USDt" style="color: #fff">Sign Up Now</a></span><hr>
</div>
</div>
</div>
</div>
</div>
</div>
<hr style="margin-top: 40px; color: #a9e90f !important; border: 1px solid;">
<h4 class="center" style="font-size: 2.5em; margin-top: -30px; margin-left: 20px; line-height: 1; color: #d8d8d8; font-weight: 700; letter-spacing: -1px;"><br>Interested in Private Mentorship?</h4>
<h5 class="center" style="font-size: 1em; margin-left: 20px; margin-bottom: 30px; color: #f0f0f0; font-weight: 700; letter-spacing: 1px;">You can now book a Private Session with us, find details below:<br></h5>
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="price-box" style="border: 2px solid #323234!important; margin-top: 25px;">
<div class="">
<div class="price-label basic">Physical - Private Mentorship</div>
<div class="price">$467.00</div>
<div class="price-info">Private Physical Mentorship<br>One-Time Payment<br><b style="color: #a9e90f;">One Month: Private Mentorship</b></div>
</div>
<div class="info">
<ul>
<h4 class="mb-3 center" style="font-size: 1.5em; font-weight: 700; color: #cddc39; letter-spacing: -1px;">Features</h4>
<li><i class="fas fa-check" aria-hidden="true"></i><b>One-On-One with a Private Tutor</b></li>
<li><i class="fas fa-check" aria-hidden="true"></i>Beginner To Advanced Course</li>
<li><i class="fas fa-check" aria-hidden="true"></i>Intensive One Month Training</li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Live Trading Experience</b></li>
<li><i class="fas fa-wifi" aria-hidden="true"></i><b>Free Wi-fi</b></li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Access To Habbyfx Video Course</b></li>
<li style="line-height: 1.35"><i class="fas fa-check" aria-hidden="true"></i>Access Students Group</li>
<li style="line-height: 1.35"><i class="fas fa-check" aria-hidden="true"></i>Prop Firm Challenge Training</li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Earn Masterclass Certificate</b></li>
</ul>
</div>
<span class="price-label basic"><a aria-disabled="true" style="color: #fff">Choose a Location</a></span><hr>
</div>
</div>
<div class="col-lg-6">
<div class="price-box" style="border: 2px solid #1ae31a !important">
<div class="">
<div class="price-label basic">Exclusive Mentorship</div>
<div class="price">$1,300.00</div>
<div class="price-info">Exclusive Online Only Mentorship<br>One-Time Payment<br><b style="color: #a9e90f;">Exclusive Mentorship <i>with Habby</i></b></div>
</div>
<div class="info">
<ul>
<h4 class="mb-3 center" style="font-size: 1.5em; font-weight: 700; color: #cddc39; letter-spacing: -1px;">Features</h4>
<li><i class="fas fa-check" aria-hidden="true"></i><b>One-On-One with Habbyfx (Online Only)</b></li>
<li><i class="fas fa-check" aria-hidden="true"></i>Beginner To Advanced Course</li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Live Trading &amp; Analysis</b></li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Access To Habbyfx Video Course</b></li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>5 Weeks Training</b></li>
<li style="line-height: 1.35"><i class="fas fa-check" aria-hidden="true"></i>Access VIP Mentorship Group &amp; Benefits</li>
<li style="line-height: 1.35"><i class="fas fa-check" aria-hidden="true"></i>How to Pass Prop Firm Account</li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Free HabbyFX Trading Manual</b></li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Access all Physical Trading Floors</b></li>
<li><i class="fas fa-check" aria-hidden="true"></i><b>Earn Masterclass Certificate</b></li>
</ul>
</div>
<span class="price-label basic"><a href="https://www.habbyforex.com/en-us/mentorship/exclusive.USDt" data-target="./exclusive.USDt" style="color: #fff">Book Now</a></span><hr>
</div>
</div>
<br>
</div>
</div>
<br>
<div class="row">
<div class="col-lg">
<h4 class="center" style="font-size: 2.5em; margin-top: -30px; margin-left: 20px; line-height: 1; color: #d8d8d8; font-weight: 700; letter-spacing: -1px;"><br>What you would learn:</h4><br>
<div class="container">
<div class="row">
<div class="col-lg-4">
<div>
<div class="info">
<ul>
<h4 class="mb-3 center" style="font-size: 1.5em; font-weight: 700; color: #cddc39; letter-spacing: -1px;">Technical Analysis</h4>
<li><b>How to Identify Market structure</b></li>
<li><b>How to mark out your zones using</b>
<br> - Support &amp; Resistance
<br> - Trendline
<br> - Fibonacci Retracement &amp; Extension</li>
<li><b>Learn how to enter &amp; exit a trade</b>
<br> - Candlestick formation
<br> - Chart pattern &amp; Price action</li>
</ul>
</div>
<hr>
</div>
</div>
<div class="col-lg-4">
<div>
<div class="info">
<ul>
<h4 class="mb-3 center" style="font-size: 1.5em; font-weight: 700; color: #cddc39; letter-spacing: -1px;">My Risk Management Strategy</h4>
<li><b> Risk to Reward (20 pips stop loss max.)</b></li>
<li><b>How to mark out your zones using</b></li>
<li><b>Trading Psychology Tips</b>
<br> - Developing a successful trading mindset (7 years + Experience)</li>
</ul>
</div>
<hr>
</div>
</div>
<div class="col-lg-4">
<div>
<div class="info">
<ul>
<h4 class="mb-3 center" style="font-size: 1.5em; font-weight: 700; color: #cddc39; letter-spacing: -1px;">Fundamental Analysis</h4>
<li><b> Learn how to trade the News</b></li><br>
<h4 class="mb-3 center" style="font-size: 1.45em; font-weight: 700; color: #cddc39; letter-spacing: -1px;">Backtesting &amp; live analysis</h4>
</ul>
</div>
<hr>
</div>
</div>
</div>
</div>
</div>
</div>
<hr style="margin-top: 20px; color: #a9e90f !important; border: 1px solid;">
</div>
</section>


{{#section 'footer'}}
	{{> foot}}
{{/section}}
    
{{#section 'script'}}
	<script>
		function loginCheck() {

		var email=document.getElementById("email").value;  
		var password=document.getElementById("password").value;

			if(email && password){            
				$('#btnsub').prop('disabled', true);           
				$.ajax({
				url: "/loginconfirmcheck",
				type: "POST",
				data:{email:email,password:password},
				success: function(text) {	
					if(text.data.firstname){                      
						window.location.href = "/";
					} else{
						alert(`An Error Occured. Check login details and try again.`);
						$('#btnsub').prop('disabled', false);
					}
				}
				});    
			}else{
				alert("Kindly fill out all details on the form .");
				$('#btnsub').prop('disabled', false);
			}
			}
	</script>
{{/section}}