{{#section 'header'}}
	{{> iter}}
{{/section}}

  {{!-- <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_8.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Pay For Course</h1>
             <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i> <span>Course Payment<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section> --}}
<!-- section -->

<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-center align-items-center" >
								
					</div>
				</div>
</section>		


<section class=" bg-black ftco-home" style="background: black;">
<div class="container">
<div class="row">
<div class="col-md-5">
<div class="card" style="border: none; padding-bottom: 30px; background-color: #fff0;">
<div class="card-header mt-3" style="padding-top: 30px; padding-bottom: 20px; border-bottom-right-radius: 12px; border-bottom-left-radius: 12px; margin-bottom: 20px; background-color: #eceae6;">
<h3 class="card-title" style="font-size: 1.25em;"><img id="company-logo-img" src="/images/dsw.png" alt="Business Logo" style="height: 40px; width:120px;"><br> &nbsp;&nbsp;<span style="color: #1e48e5;">Trading Course </span></h3>
</div>
<div class="card-body" style="padding: 20px; margin: 5px; border-radius: 8px; line-height: 0.85; background: #eceae6">
<form id="paymentForm">
<div class="form-group"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
</svg><a class="btn btn-success" href="/mentorship" role="button" style="font-size: 13px;">Back</a><hr>
<h1 style="    font-size: 0.65em; color: #acacac; margin-left: 0.35em; margin-bottom: -8px;">
<label for="fee">USD - INTERNATIONAL PAYMENT</label>
</h1>
<h4 style="font-size: 2.25em;margin-bottom: 6px;">
<label for="fee">ksh 15,000</label>
</h4>
<h6 style="font-size: 1.2em;margin-bottom: 10px;">
<label for="fee" style="font-size: 13px; margin-top: -8px; color: #090000; ">One Month Subscription</label>
</h6><br>
<label>
<h6 style="font-size: 13px; margin-top: -8px; color: #090000; ">
Premium One Month Signals
<br><b>Trading Course Mentorship</b>
<br><b>One-Time Payment</b>
<br><b>Physical Training - PREMIER NORTH PARK HUB KAMAKIS</b>
<br><b>Beginner To Advanced Course</b>
<br><br>
<span style="color: #7e8e8f;">NO REFUND POLICY. <br>By subscribing to our One Month Signal, you hereby accept that, all sales are final and you accept our No Refund Policy and are subject to TradeCafe Trading Terms of Service and Disclaimer.</span></h6>
</label>
<b style="font-size: 13px; margin-top: -8px; color: #090000; ">Click image below to pay using M-PESA</b>
<div class="row m-3">
	<a href="/mentorshipayment?mentorshiptype=GeneralInClassMentorship&mentorshipprice=15000">
		<img src="/images/lipampesa.png" style="font-family:&#39;ubuntu&#39;; height: 90px; width:185px; line-height: 1" class="img-fluid" alt="">
	</a>
</div>
</div>
<div class="container">
	<br><b style="font-size: 13px; margin-top: -8px; color: #090000; ">Pay using WALLET</b>
<div class="row m-3">
<img src="/images/TradeCafe_USDt_1.png" style="font-family:&#39;ubuntu&#39;; height: 50%; line-height: 1" class="img-fluid" alt="">
</div>
<div class="row mb-3">
<div class="form-submit">
<input type="text" value="TXpwFoc64Z8z7ZFBxEX95DATUeteZ4tk9n" id="myInput" style="padding: 8px; border-radius: 4px; font-size: 1.25rem; font-family: montserrat; margin-bottom: 0px; margin-top: 0px;">
<button type="submit" class="btn btn-success" onclick="myFunction()" style="font-size: 14px; padding: 8px; margin-bottom: 7px;"> Copy</button>
<script>
                      function myFunction() {
                        // Get the text field
                        var copyText = document.getElementById("myInput");
                      
                        // Select the text field
                        copyText.select();
                        copyText.setSelectionRange(0, 99999); // For mobile devices
                      
                        // Copy the text inside the text field
                        navigator.clipboard.writeText(copyText.value);
                        
                        // Alert the copied text
                        alert("USDt Address Copied: " + copyText.value);
                      }
                      </script>
</div>
</div>
<div class="row mb-3">
<img src="/images/TradeCafe_USDt_2.png" style="font-family:&#39;ubuntu&#39;; height: 50%; line-height: 1" class="img-fluid" alt=""><br>
</div>
</div>
<div class="form-group" style="font-size: 13px; font-weight: bold; line-height: 1.2em;"><br>
<label>
<h6 style="margin-top: -8px; font-size: 14px; font-weight: 400; letter-spacing: 0px; margin-left: 10px; font-family: Montserrat; line-height: 1.25; word-spacing: -1px;">
<span style="color: #7e8e8f;">Kindly confirm before sending as we would not be held responsible for any loss as a result of using an incorrect Wallet Address.<br><br>
</span>
<span style="color: #000;">To confirm your payment, kindly use the chat with any Customer Experience Team on this page or send a proof of payment to <a href="https://t.me/TradeCafe" target="_blank"> TradeCafe</a></span><br>
<span style="color: #7e8e8f;">
<br>If you have any concerns, reach our support team: <a target="_blank" href="email:support@TradeCafe.com"> support@TradeCafe.com</a><br>
</span>
</h6>
</label>
</div>
</form>
</div>
</div>
</div>
{{!-- <div class="sticky-top">
<div class="alert alert-success" style="background-color: rgba(7, 5, 28, 0.79); top: 20px; margin-left: 20px; position: sticky;">
<button type="button" style="color: #fff;" class="close" data-dismiss="alert" aria-hidden="true">
×</button>
<span class="glyphicon glyphicon-ok"></span>
<br>
<h5 style="margin-left: 15px;"><b style="line-height: 1; color: #957a04; font-weight: 700; letter-spacing: -1px;">Recommended Broker
<br>
<a href="https://one.exness.link/a/0ve07swb3i" target="_blank">Register a Trading Account</a></b></h5>
<span style="line-height: 0.75; color: #d8d8d8; letter-spacing: -1px;">
<a href="https://one.exness.link/a/0ve07swb3i" target="_blank">
<img src="./Subscription - Trade Signals _ Trade with TradeCafe VIP Premium_files/tradebrokers.jpg" alt="Recommended Broker" class="img-fluid" style="height: 230px; width: auto; margin-bottom: 6px;"></a>
</span>
<br>
</div>
</div> --}}
</div>
</div>

</section>


{{#section 'footer'}}
	{{> foot}}
{{/section}}
    
{{#section 'script'}}
	<script>
		function loginCheck() {

		var email=document.getElementById("email").value;  
		var password=document.getElementById("password").value;

			if(email && password){            
				$('#btnsub').prop('disabled', true);           
				$.ajax({
				url: "/loginconfirmcheck",
				type: "POST",
				data:{email:email,password:password},
				success: function(text) {	
					if(text.data.firstname){                      
						window.location.href = "/";
					} else{
						alert(`An Error Occured. Check login details and try again.`);
						$('#btnsub').prop('disabled', false);
					}
				}
				});    
			}else{
				alert("Kindly fill out all details on the form .");
				$('#btnsub').prop('disabled', false);
			}
			}
	</script>
{{/section}}